@import "tailwindcss";
body {
    background-color: #060b18;
    color: #eef0f6; /* color de texto base */
    font-family: system-ui, -apple-system, sans-serif;
}

h1{
    font-size: 60px;
    font-weight: bold;
}